doctype html
html(lang="en")
    head
        title="Cliques Ad Test"
    body
        h1 Standard Native Ad
        p Placement ID:
            pre !{ pid1 }
        #ad.col !{ pubtag1 }
        h2 Multi-Pane Native Ad
        p Placement ID:
            pre !{ pid2 }
        #ad2.col !{ pubtag2 }